.button {
  background: $base-primary;
  color: $base-white;
  border-radius: 4px;
  padding: 8px 20px;
  border: none;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;

  &:hover, &:focus {
    background-color: $primary-lighter;
  }

  &:active {
    background-color: $primary-darker;
  }

  &:disabled {
    background-color: $base-grey;
  }
}


