.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 0;


  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 0;
  }

  &__info-wrap {
    display: flex;
    align-items: center;
    gap: 20px;

  }

  &__info-text {
    display: none;
    width: 126px;
    font-size: 12px;
    line-height: 133%;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }

  &__logo-img {
    display: block;
    object-fit: cover;
  }
}
