#price-slider {
  background-color: $light-grey; /* Фон слайдера */  /* Рамка вокруг слайдера */       /* Скругление углов */
  height: 2px; /* Высота полосы */
  border: none;
  border-radius: 0;
  position: relative;
  overflow: visible;
}
.price-range {
  text-align: center;
  margin-top: 11px;

  @media (min-width: $tablet-width) {
    width: 223px;
    margin-top: 12px;
  }
  @media (min-width: $desktop-width) {
    width: 320px;

  }
}

.price-values {

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: 35px;

  @media (min-width: $tablet-width) {
    margin-top: 31px;
  }
  @media (min-width: $desktop-width) {
    margin-top: 32px;
    gap: 20px;
  }
}

.price__element {

  display: block;
  width: 8px;
  height: 2px;
  top: 1px;
  background-color: $base-grey;
  position: relative;

}

.price-inpun {
  width: 118px;
  height: 40px;
  padding: 5px;
  font-size: 16px;
  border: 2px solid $primary-lighter;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  font-family: $primary-font;

  @media (min-width: $tablet-width) {
    width: 87px;
    height: 40px;
  }
  @media (min-width: $desktop-width) {
    width: 134px;
    height: 40px;
  }
}


#price-slider .noUi-handle {
  background: $base-white;
  box-shadow: none;
  border: 2px solid $primary-lighter;
  width: 24px;
  height: 24px;
  top: -10px;
  border-radius: 100%;


  &::before, &::after {
    display: none;
  }
}
#price-slider .noUi-handle-lower {
  right: -24px;
}

#price-slider .noUi-handle-upper {
  right: -9px;

  @media (min-width: $tablet-width) {
    right: -1px;
  }
  @media (min-width: $desktop-width) {
    right: -10px;
  }
}

#price-slider .noUi-connects {
  background-color: $light-grey;
  height:2px;

}
#price-slider .noUi-connect {
  height: 4px; /* Высота полосы между ручками */
  position: absolute; /* Позволяет управлять размещением */
  top: -1px;
  width: 280px;
  left: 0;
  background-color: $primary-lighter;

  @media (min-width: $tablet-width) {
    width: 223px;
  }
  @media (min-width: $desktop-width) {
    width: 310px;
  }
}


.noUi-base,
.noUi-connects {
  width: 100%;
  height: 100%;
  position: static;
  z-index: 1
}
