.swiper {
  position: relative;
  z-index: 1;
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $tablet-width) {

      justify-content: center;
    }

    @media (min-width: $desktop-width) {
      gap: 19px;
      flex-direction: row-reverse;
      align-items: flex-start;
    }
  }

  &__picture-wrapper {
    @media (min-width: $tablet-width) {
      order: 5;
      margin-top: 20px;
    }
    @media (min-width: $desktop-width) {
      margin-top: 0;
    }
  }

  &__img {
    display: block;
    margin-bottom: 10px;

    @media (min-width: $tablet-width) {


      bottom: 0;
    }

  }

  &__label {
    margin-bottom: 4px;

    @media (min-width: $tablet-width) {
      order: 1;
    }
    @media (min-width: $desktop-width) {
      padding-left: 5px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 133%;
    letter-spacing: 0.02em;
    text-align: center;
    color: $base-black;
    margin-bottom: 10px;

    @media (min-width: $tablet-width) {
      font-size: 56px;
      line-height: 143%;
      order: 2;
      margin-bottom: 16px;
    }
    @media (min-width: $desktop-width) {
      padding-left: 5px;
    }


  }

  &__data-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $desktop-width) {
      align-items: flex-start;
      margin-left: 7px;
      padding-top: 150px;
    }
  }

  &__paragraph {
    margin: 0 0 20px 0;
    text-align: center;
    color: $base-black;

    @media (min-width: $tablet-width) {
      width: 606px;
      font-size: 20px;
      line-height: 160%;
      order: 3;
    }
    @media (min-width: $desktop-width) {
      text-align: left;
      margin: 0 0 40px 0;
      padding-left: 5px;
    }

  }

  &__bottom-wrap {
    display: flex;
    align-items: center;
    gap: 20px;

    @media (min-width: $tablet-width) {
      order: 4;

    }

  }

  &__pagination-wrap {
    @media (min-width: $desktop-width) {
      display: flex;
      position: absolute;
      left: 43%;
      order: 4;
      gap: 8px;

      .swiper__pagination {
        @media (min-width: $desktop-width) {
          display: block;
          width: 62px;
          height: 4px;
          background-color: $base-white;

          &:hover, &:focus {
            background-color: $primary-opacity;
          }

          &:active {
            background-color: $base-primary;
          }
        }

      }
    }
  }

  &__price-wrap {
    display: flex;
    align-items: center;
    gap: 6px;

    @media (min-width: $desktop-width) {
      padding-left: 7px;

    }

  }

  &__price-old {
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    text-decoration: line-through;
    color: $base-primary;
  }

  &__price-new {
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
  }

  &__button-wrap {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    z-index: -2;



    @media (min-width: $tablet-width) {

      height: 76.5%;


    }
    @media (min-width: $desktop-width) {
      height: 100%;

    }
  }

  &__button {
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    width: 20px;
    cursor: pointer;




    @media (min-width: $tablet-width) {
      width: 80px;
    }

    &--prev {

      &:hover, &:focus {
        background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
      }

      &:active {
        background: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
      }

    }

    &--next {
      &:hover, &:focus {
        background: linear-gradient(-90deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
      }

      &:active {
        background: linear-gradient(-90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
      }


    }

    &--prev:disabled,
    &--next:disabled {
      background: none;
      &::after {
        background-image: url('../../icons/stack.svg#disabled-arrow');
      }
    }

    &--prev::after {
      content: '';
      position: absolute;
      display: block;
      width: 20px;
      left: 0;
      top:49%;
      height: 20px;
      fill: $base-grey;

      background-image: url('../../icons/stack.svg#arrow');




    @media (min-width: $tablet-width) {

        left: 28px;
      }
    }

    &--next::after {
      content: '';
      display: block;
      position: absolute;
      width: 20px;
      height: 20px;
      background-image: url('../../icons/stack.svg#arrow');
      transform: rotate(180deg);
      margin-right: 4px;
      right: -4px;
      top:49%;

      @media (min-width: $tablet-width) {

          right: 25px;
      }
    }
  }
}



.swiper__item {
  display: none;
  transition: opacity 0.5s;
}
.swiper__item.active {
  display: flex;
  opacity: 1;
}


.swiper__pagination.active {
  background: $base-primary;
}
